<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <h:head>

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Iniciar Sesión</title>

  </h:head>

  <h:body>

    <h1>Mantenimiento Tabla Maestro</h1>


    <h:form>
      <p:commandButton action="index" value="Mantenimiento Detalle"/>
      <p:commandButton action="maestro" value="Mantenimiento Maestro"/>
      <p:commandButton action="encabezado" value="Mantenimiento Encabezado"/>
      <p:separator/>
    </h:form>

    <h:form>
      <p:commandButton value="Agregar Campos" oncomplete="PF('dialogoAgregar').show();" actionListener="#{detalleBean.limpiar()}" update=":formAgregar"/>
    </h:form>
    <h:form id="formAgregar">
      
      
      <p:dialog id="dlgAgregar" header="Agregar Campos" widgetVar="dialogoAgregar" 
                resizable="false" showEffect="fade" hideEffect="fade" modal="true">
<p:message for="campo12" />
        <p:panelGrid columns="2" style="margin: 0 auto;">  

          <p:outputLabel value="Campo11: " for="campo11" />
          <p:selectOneMenu value="#{detalleBean.encabezadoPK.campo11}" id="campo11">
            <f:selectItems value="#{encabezadoBean.listaEncabezado}" var="en"
                           itemValue="#{en.tblEncabezadoPK.campo11}" itemLabel="#{en.tblEncabezadoPK.campo11}"/>
          </p:selectOneMenu>

          <p:outputLabel value="Campo12: " for="campo12" />
          <p:selectOneMenu value="#{detalleBean.encabezadoPK.campo12}" id="campo12" required="false">
            <f:selectItems value="#{encabezadoBean.listaEncabezado}" var="en"
                           itemValue="#{en.tblEncabezadoPK.campo12}" itemLabel="#{en.tblEncabezadoPK.campo12}" />

          </p:selectOneMenu>

          <p:outputLabel value="Campo13: " for="campo13" />
          <p:selectOneMenu value="#{detalleBean.encabezadoPK.campo13}" id="campo13">
            <f:selectItems value="#{encabezadoBean.listaEncabezado}" var="en"
                           itemValue="#{en.tblEncabezadoPK.campo13}" itemLabel="#{en.tblEncabezadoPK.campo13}"/>
          </p:selectOneMenu>

          <p:outputLabel value="Campo14: " for="campo14" />
          <p:selectOneMenu value="#{detalleBean.maestro.campo1}" id="campo14">
            <f:selectItems value="#{maestroBean.listMaestro}" var="ma"
                           itemValue="#{ma.campo1}" itemLabel="#{ma.campo1}"/>
          </p:selectOneMenu>


          <p:outputLabel value="Campo15: " for="campo15" />
          <p:inputText value="#{detalleBean.detalle.campo15}" id="campo15" />

          <p:outputLabel value="Campo16: " for="campo16" />
          <p:inputText value="#{detalleBean.detalle.campo16}" id="campo16" />

        </p:panelGrid>
        <p:commandButton  value="Guardar" actionListener="#{detalleBean.save}" update=":formListado:table" oncomplete="PF('dialogoAgregar').hide();"/>
        <p:commandButton  value="Cancelar" onclick="PF('dialogoAgregar').hide();"/>
      </p:dialog>
    </h:form>



    <div class="ui-g">

      <div class="ui-g-10">

        <h:form id="formListado">
          <p:dataTable id="table" value="#{detalleBean.listaDetalle}" var="d"
                       emptyMessage="No hay registros que mostrar">

            <f:facet name="header">
              Lista de datos
            </f:facet>

            <p:column headerText="Campo11">
              <p:outputLabel value="#{d.tblDetallePK.campo11}" />
            </p:column>

            <p:column headerText="Campo12">
              <p:outputLabel value="#{d.tblDetallePK.campo12}" />
            </p:column>

            <p:column headerText="Campo13">
              <p:outputLabel value="#{d.tblDetallePK.campo13}" />
            </p:column>

            <p:column headerText="Campo14">
              <p:outputLabel value="#{d.tblDetallePK.campo14}" />
            </p:column>

            <p:column headerText="Campo15">
              <p:outputLabel value="#{d.campo15}" />
            </p:column>

            <p:column headerText="Campo16">
              <p:outputLabel value="#{d.campo16}" />
            </p:column>


            <p:column headerText="Editar" style="text-align: center">
              <p:commandButton icon="ui-icon-pencil" title="Editar" value="Editar" oncomplete="PF('dialogoModificar').show();" update=":formModificar">
                <f:setPropertyActionListener target="#{detalleBean.detalle}" value="#{d}"/>
              </p:commandButton>
            </p:column>

            <p:column headerText="Eliminar" style="text-align: center">
              <p:commandButton icon="ui-icon-trash" title="Eliminar" value="Eliminar" oncomplete="PF('dialogoEliminar').show();" update=":formEliminar">
                <f:setPropertyActionListener target="#{detalleBean.detalle}" value="#{d}"/>
              </p:commandButton>
            </p:column>

          </p:dataTable>
        </h:form>

        <h:form id="formModificar">
          <p:dialog id="dlgModificar" header="Modificar Campos" widgetVar="dialogoModificar" 
                    resizable="false" showEffect="fade" hideEffect="fade" modal="true">

            <p:panelGrid columns="2" style="margin: 0 auto;">  

              <p:outputLabel value="Campo11: " for="campo11" />
              <p:inputText value="#{detalleBean.detalle.tblEncabezado.tblEncabezadoPK.campo11}" id="campo11" disabled="true"/>

              <p:outputLabel value="Campo12: " for="campo12" />
              <p:inputText value="#{detalleBean.detalle.tblEncabezado.tblEncabezadoPK.campo12}" disabled="true" id="campo12" />

              <p:outputLabel value="Campo13: " for="campo13" />
              <p:inputText value="#{detalleBean.detalle.tblEncabezado.tblEncabezadoPK.campo13}" id="campo13" disabled="true"/>

              <p:outputLabel value="Campo14: " for="campo14" />
              <p:inputText value="#{detalleBean.detalle.tblDetallePK.campo14}" disabled="true" id="campo14" />


              <p:outputLabel value="Campo15: " for="campo15" />
              <p:inputText value="#{detalleBean.detalle.campo15}" id="campo15" />

              <p:outputLabel value="Campo16: " for="campo16" />
              <p:inputText value="#{detalleBean.detalle.campo16}" id="campo16" />

            </p:panelGrid>
            <p:commandButton  value="Modificar" actionListener="#{detalleBean.update}" update=":formListado:table" oncomplete="PF('dialogoModificar').hide();"/>
            <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>
          </p:dialog>
        </h:form>

        <h:form id="formEliminar">
          <p:dialog id="dlgEliminar" header="Eliminar Campo" widgetVar="dialogoEliminar" 
                    resizable="false" showEffect="fade" hideEffect="explode" modal="true">
            <h:outputText value="Desea eliminar este registro?"/>
            <p:commandButton  value="Si" actionListener="#{detalleBean.delete}" 
                              update=":formListado:table" oncomplete="PF('dialogoEliminar').hide();"/>

            <p:commandButton  value="No" onclick="PF('dialogoEliminar').hide();"/>
          </p:dialog>
        </h:form>

      </div>

    </div>

  </h:body>
</html>

