<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  <h:head>

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Iniciar Sesión</title>

  </h:head>

  <h:body>

    <h1>Mantenimiento Tabla Maestro</h1>


    <h:form>
      <p:commandButton action="index" value="Mantenimiento Detalle"/>
      <p:commandButton action="maestro" value="Mantenimiento Maestro"/>
      <p:commandButton action="encabezado" value="Mantenimiento Encabezado"/>
      <p:separator/>
    </h:form>
    
    <h:form>
      <p:commandButton value="Agregar Campos" oncomplete="PF('dialogoAgregar').show();" actionListener="#{maestroBean.limpiar()}" update=":formAgregar"/>
    </h:form>

    <h:form id="formAgregar">
      <p:dialog id="dlgAgregar" header="Agregar Campos" widgetVar="dialogoAgregar" 
                resizable="false" showEffect="fade" hideEffect="fade" modal="true">

        <p:panelGrid columns="2" style="margin: 0 auto;">  

          <p:outputLabel value="Campo1: " for="campo1" />
          <p:inputText value="#{maestroBean.maestro.campo1}" id="campo1" />

          <p:outputLabel value="Campo2: " for="campo2"/>
          <p:inputText value="#{maestroBean.maestro.campo2}" id="campo2" >
          </p:inputText>

          <p:outputLabel value="Campo3: " for="campo3" />
          <p:inputText value="#{maestroBean.maestro.campo3}" id="campo3" />

          <p:outputLabel value="Campo4: " for="campo4" />
          <p:inputText value="#{maestroBean.maestro.campo4}" id="campo4" />

        </p:panelGrid>
        <p:commandButton  value="Guardar" actionListener="#{maestroBean.save}" update=":formListado:table" oncomplete="PF('dialogoAgregar').hide();"/>
        <p:commandButton  value="Cancelar" onclick="PF('dialogoAgregar').hide();"/>
      </p:dialog>
    </h:form>



    <div class="ui-g">

      <div class="ui-g-8">

        <h:form id="formListado">
          <p:dataTable id="table" value="#{maestroBean.listMaestro}" var="ma"
                       emptyMessage="No hay registros que mostrar">

            <f:facet name="header">
              Lista de datos
            </f:facet>

            <p:column headerText="Campo1">
              <p:outputLabel value="#{ma.campo1}" />
            </p:column>

            <p:column headerText="Campo2">
              <p:outputLabel value="#{ma.campo2}" />
            </p:column>

            <p:column headerText="Campo3">
              <p:outputLabel value="#{ma.campo3}" />
            </p:column>

            <p:column headerText="Campo4">
              <p:outputLabel value="#{ma.campo4}" />
            </p:column>

            <p:column headerText="Editar" style="text-align: center">
              <p:commandButton icon="ui-icon-pencil" title="Editar" value="Editar" oncomplete="PF('dialogoModificar').show();" update=":formModificar">
                <f:setPropertyActionListener target="#{maestroBean.maestro}" value="#{ma}"/>
              </p:commandButton>
            </p:column>

            <p:column headerText="Eliminar" style="text-align: center">
              <p:commandButton icon="ui-icon-trash" title="Eliminar" value="Eliminar" oncomplete="PF('dialogoEliminar').show();" update=":formEliminar">
                <f:setPropertyActionListener target="#{maestroBean.maestro}" value="#{ma}"/>
              </p:commandButton>
            </p:column>

          </p:dataTable>
        </h:form>

        <h:form id="formModificar">

          <p:dialog id="dlgModificar" header="Modificar Campos" widgetVar="dialogoModificar" 
                    resizable="false" showEffect="fade" hideEffect="fade" modal="true">

            <p:panelGrid columns="2" style="margin: 0 auto;">

              <p:outputLabel value="Campo1: " for="campo1" />
              <p:inputText value="#{maestroBean.maestro.campo1}" id="campo1" disabled="true" />

              <p:outputLabel value="Campo2: " for="campo2" />
              <p:inputText value="#{maestroBean.maestro.campo2}" disabled="true" id="campo2" />

              <p:outputLabel value="Campo3: " for="campo3" />
              <p:inputText value="#{maestroBean.maestro.campo3}" id="campo3" />

              <p:outputLabel value="Campo4: " for="campo4" />
              <p:inputText value="#{maestroBean.maestro.campo4}" id="campo4" />

              <p:commandButton  value="Modificar" actionListener="#{maestroBean.update()}" 
                                update=":formListado:table" oncomplete="PF('dialogoModificar').hide();"/>
              <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>

            </p:panelGrid>

          </p:dialog>
        </h:form>

        <h:form id="formEliminar">
          <p:dialog id="dlgEliminar" header="Eliminar Campo" widgetVar="dialogoEliminar" 
                    resizable="false" showEffect="fade" hideEffect="explode" modal="true">
            <h:outputText value="Desea eliminar este registro?"/>
            <p:commandButton  value="Si" actionListener="#{maestroBean.delete()}" 
                              update=":formListado:table" oncomplete="PF('dialogoEliminar').hide();"/>

            <p:commandButton  value="No" onclick="PF('dialogoEliminar').hide();"/>
          </p:dialog>
        </h:form>

      </div>

    </div>

  </h:body>
</html>

